.tour-container{
  width: 100%;
  background-color: $color-blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;

  .tours{
    width: 1280px;
    // width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -43px;
  }

  .tour-israel{
    @include tour-background("tour-01.jpg");
  }

  .tour-usa{
    @include tour-background("tour-02.jpg");
  }

  .tour-australia{
    @include tour-background("tour-03.jpg");
  }

  .tour{
    height: 304px;
    width: 236px;
    margin: 0 auto;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: $color-white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //text-align: center;

    .location-price{
      margin-top: 37px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Roboto";

      .location{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 100;
      }

      .price{
        font-size: 30px;
      }
    }

    .tour-button{
      background-color: $color-blue;
      display: block;
      height: 40px;
      width: 133px;
      border: none;
      border-radius: 25px;
      color: $color-white;
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 56px;
    }

  }
}

@media (max-width: 724px){
  .tour-container{
    display: none;
    // flex-direction: column;
    // height: auto;
    // margin-bottom: 20px;
    // .tours{
    //   flex-direction: column;
    // }
  }
}
