//site colors
$site-purple: #540D6E;
$site-pink: #EE4367;
$site-yellow: #FFD140;
$site-teal: #3BCEAB;
$site-green: #08AD69;
$site-white: #fff;
$site-gray: #A8A8A8;
$site-input-bg: #F56B88;

$site-full-width: 1280px;
