.quote{
  height: 300px;
  @include center-content();
  display: flex;
  font-size: 15px;

  .quote-content{
    width: 789px;
    margin: auto;

    .quote-text{
      color: $site-yellow;
      margin-bottom: 25px;
    }

    .quote-ceo{
      color: $site-pink;
      margin-bottom: 2px;
    }

    .quote-ceo-title{
      color: $site-gray;
      font-size: 10px;
    }
  }
}
