// site colors
$site-purple: #540d6e;
$site-pink: #ee4367;
$site-yellow: #ffd140;
$site-teal: #3bceab;
$site-green: #08ad69;
$site-white: #fff;
$site-gray: #a8a8a8;
$site-input-bg: #f56b88;

$site-full-width: 1280px;
