.offers-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .offers-title{
    width: 80%;
    margin-top: 2em;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 30px;

    .underline{
      border-bottom: 2px solid $color-black;
    }
  }

  .offer{
    width: 80%;
    margin: 1em 0 4em 0;
    display: flex;
    flex-direction: row;

    .offer-img{
      width: 199px;
      height: 287px;
      object-fit: cover;
    }
    .offer-content{
      margin-left: 1.25em;
      display: flex;
      flex-direction: column;

      .offer-location{
        display: flex;
        flex-direction: row;
        align-items: center;

        .location{
          text-transform: uppercase;
          font-size: 30px;
          font-family: "Roboto";

          .underline{
            border-bottom: 2px solid $color-black;
          }
        }

        .discount{
          color: $color-orange;
          font-size: 20px;
          font-family: "Roboto";
          padding-left: .25em;
        }
      }

      .offer-description{

      }

      .button-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .offer-button{
          background-color: $color-blue;
          display: block;
          height: 40px;
          width: 133px;
          border: none;
          border-radius: 25px;
          color: $color-white;
          text-decoration: none;
          font-size: 15px;
          text-transform: uppercase;
          margin-bottom: 56px;
        }
      }

    }
  }
}

//Viewport sizes used by Bootstrap and recommended by Adobe.
//https://getbootstrap.com/docs/4.4/layout/overview/
//https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html

//Large tablet
@media screen and (max-width: 991px){

}

//Medium tablet
@media screen and (max-width: 767px){
}


@media screen and (max-width: 576px){
  .offers-container{

    .offers-title{

      .underline{
      }
    }

    .offer{

      .offer-img{
      }
      .offer-content{
        align-items: center;

        .offer-location{
          flex-direction: column;
          align-items: center;

          .location{
            text-align: center;

            .underline{
            }
          }

          .discount{
          }
        }

        .offer-description{

        }

        .button-container{
          .offer-button{
          }
        }

      }
    }
  }
}
